/*
logo and name
*/
.name {
    height: 80px;
    width: 180px;
    padding: 5px;
}

.name img{
    height: 50px;
    width: auto;
}

.music{
    width: 160px;
    height: 80px;
    position: absolute;
    left: 1140px;
    top:5px;
    
}

.music img{
    width: 50px;
    position: absolute;
}


audio {
    position: absolute;
    top: 28px;
    left: 70px;
    width: 85px;
}

/*
main
*/


.main {
    position: absolute;
    width: 100%;
    height: 920px;
    top: 100px;
    background-color: #ddd;
    border-top: 1px solid #eee;
}

h2 {
    position: absolute;
    left: 590px;
}

.hp {
    position: absolute;
    top: 80px;
    left: 120px;
    width: 900px;
}

#back {
    position:fixed;
    top: 120px;
    background-color: #daf0f0;
    color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.back-choice {
    position: fixed;
    top: 120px;
    left: 93%;
    width:  110px;
    border-radius: 5px;
    border: 1px solid #ddd;
    z-index: 1;
}

.back-choice a:hover {
    text-decoration:none;
} 

.back-choice li {
    list-style-type: none;
    height: 45px;
    width: 110px;
    padding: 10px 10px;
    background-color: #fff;
}

#li1 {
    margin-bottom: 2px;
}



.back-choice a{ 
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: #daf0f0;
    margin-left: 0;
}

/*
  container
*/

#container {
    position:absolute;
    top: 110px;
    width: 1348px;
    height: 700px;
    
}


/*
  pictures
*/
#cabana {
    width: 80px;
    position: absolute;
    left: 100px;
}

#book {
    width: 40px;
    position: absolute;
    left: 1140px;
    top: 60px;
    cursor: pointer;
}

.picture {
    width: 473px;
    height: 323px;
    position: absolute;
    left: 650px;
    top: -180px;
    padding: 10px;
    border: 1px solid #a27575;
    background-color: #fff;
    z-index: 1;
    display: none;
}

.picture img{
    width: 450px;
    height: 300px;
    position: absolute;
    
}

.picture::after {
    content: " ";
    position: absolute;
    top: 80%; 
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent #3a9ca0;
}






/*
  game area
*/


.imgs {
    width: 440px;
    height: 495px;
    float: left;
    position: absolute;
    left: 110px;
    top: 110px;
}

ul {
    width: 430px;
    height: 440px; 
    padding-left: 0;
}

.imgs li {
    list-style-type: none;
    width:100px;
    height: 83px;
    float:left;
    position: relative;
    margin: 1px;
    
}

#li1 {
    margin-bottom: 2px;
}


.imgs img {
    width:100px;
    height: 83px;
}

.area {
    position: absolute;
    height: 495px;
    left:650px;
    top: 110px;
}

.area img{
     width:100px;
    height: 83px;
}                /*解决越界问题*/
   
#question {
    width: 25px;
    position: absolute;
    left:1145px;
    top: 118px;
    cursor: pointer;
    z-index: 1;
}

#targets {
    display: flex;
    flex-wrap: wrap;
}

.target{
    width: 100px;
    height: 83px;
    margin: 0 0;
    background-color: beige;
}

.panel-success{
    width: 535px;
    height: 405px;
}

.ok {
    position: absolute;
    left: 480px;
    top: 455px;
    
}


/*
  pager
*/

.pager {
    position: absolute;
    top: 750px;
    left: 150px;
    width: 1050px;
}

.previous {
    width: 160px;
    height: 40px;
}

.next {
    position: absolute;
    left: 830px;
    width: 160px;
    height: 40px;
}

#left{
    width: 160px;
    height: 40px;
    padding-top: 10px;
    background-color:#fff;
    color:#3a9ca0;
}

#right{
    height: 40px;
    width: 160px;
    padding-top: 10px;
    background-color:#fff;
    color:#3a9ca0;
}



